{% extends 'base.html' %}
{% set active_page = "profile" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <div class="profile bg-dark round-border">
        <div class="profile-avatar">
            <img src="https://images.genius.com/2326b69829d58232a2521f09333da1b3.1000x1000x1.jpg" alt="" class="profile-img">
            <div class="profile-name">{{current_user.email}}</div>
        </div>
    </div>
    <div class="bg-dark mt-20 round-border card-body">
        <div class="pb-20">
            <span class="profile-title">E-mail:</span>
            <p>{{current_user.email}}</p>
        </div>
    </div>
</div>
{% endblock %}
