{% extends 'login-register.base.html' %}

{% block content %}
<div class="flex-center vh-100">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <h1 class="card-title text-center">Sign in</h1>
        <form class="mt-20" method="post">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class_="form-control",placeholder="Enter your email") }}
          </div>
          <div class="form-group mt-20">
            {{ form.password.label }}
            {{ form.password(class_="form-control",placeholder="Enter your password") }}
          </div>
          <hr class="mt-20">
          <button type="submit" class="btn btn-primary w-full">
            Login
          </button>
          <div class="mt-10">
            <a href="{{ url_for('auth.register') }}" class="text-muted">No account?, <b>Sign up!</b></a>
          </div>
        </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}