#movie-modal .modal-content {
    background-color: var(--gray-800) !important;
    border-color: var(--gray-800) !important;
}
#movie-modal .modal-header {
    padding: 0;
    border-color: transparent !important;
    max-height:100%;
    width: 100%;
}
#movie-modal .modal-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-color: transparent;
    transition: all 200ms;
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.5);
}
#movie-modal .modal-close:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
#movie-modal .banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#movie-modal  .banner > img {
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}

#movie-modal #movie-modal-banner-preview {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: white;
    width: 100%;
    height: 400px;
}

#movie-modal #movie-modal-cover-preview {
    width: 150px;
    height: 225px;
    background-color: white;
}


#movie-modal-desc-input {
    resize: none;
    color: white;
}

.form-control {
    cursor: pointer;
    padding: 0;
    background-color: transparent !important;
    border: none;
}

.form-control::placeholder {
    color: #fff;
}

.form-control:focus {
    padding: 2px 5px;
    background-color: var(--gray-500) !important;
}

.gutter {
    margin-left: 55px;
}

.title {
    display: flex;
    margin: 12px 40px 8px 56px;
    min-height: 32px;
    position: relative;
    z-index: 1;
}

.title-icon {
    align-self: center;
    left: -40px;
    position: absolute;
}

.title-text {
    align-items: center;
    display: flex;
    min-height: 32px;
}