{% extends 'login-register.base.html' %}

{% block content %}
<div class="flex-center vh-100">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <h1 class="card-title text-center">Sign up</h1>
        <form class="mt-20">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Enter your email">
          </div>
          <div class="form-group mt-20">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password">
          </div>
          <div class="form-group mt-20">
            <label for="password-confirmation">Confirm Password</label>
            <input type="password" class="form-control" id="password-confirmation" placeholder="Enter your password">
          </div>
          <hr class="mt-20">
          <button type="submit" class="btn btn-primary w-full">
            Register
          </button>
          <div class="mt-10">
            <a href="{{ url_for('login') }}" class="text-muted">Already have a account?, <b>Sign in!<b/></a>
          </div>
        </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}